{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="col-md-6 offset-md-3">
        
        <div class="card">
            <div class="card-header">
                All Orders
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover table bordered">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">Order</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Customer Email</th>
                        <th scope="col">Date Ordered</th>
                        <th scope="col">Ship Status</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for item in all_orders %}
                      <tr>
                        
                        <td><a class="text-decoration-none text-secondary" href="{% url 'specific_order' item.pk %}">{{ item.id }}</a></td>
                        <td>&#8358;{{ item.amount_paid }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.date_ordered }}</td>                   
                        <td>{{ item.shipped }}</td>
                 
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            
        </div>
        
    </div>
  </div>

{% endblock %}